<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>API Rest - Backend para Loto Fácl - Apolo Mc Melo</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>melo.mc.apolo.loto.facil.backend.controller</param-value>
		</init-param>

		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>API Rest - Backend para Loto Fácl - Apolo Mc Melo</servlet-name>
		<url-pattern>/lotofacilbackend/*</url-pattern>
	</servlet-mapping>
</web-app>
